<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--    <context-param>-->
    <!--        <param-name>driver</param-name>-->
    <!--        <param-value>oracle.jdbc.OracleDriver</param-value>-->
    <!--    </context-param>-->

    <servlet>
        <servlet-name>JdbcServlet</servlet-name>
        <servlet-class>
            de.java2enterprise.onlineshop.JdbcServlet
        </servlet-class>
            <init-param>
                <param-name>jdbc_properties</param-name>
                <param-value>/things/jdbc.properties</param-value>
            </init-param>
<!--        <init-param>-->
<!--            <param-name>driver</param-name>-->
<!--            <param-value>oracle.jdbc.OracleDriver</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>url</param-name>-->
<!--            <param-value>-->
<!--                jdbc:oracle:thin:@//localhost:1521/XE-->
<!--            </param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>username</param-name>-->
<!--            <param-value>-->
<!--                onlineshop_user-->
<!--            </param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>password</param-name>-->
<!--            <param-value>-->
<!--                geheim_123-->
<!--            </param-value>-->
<!--        </init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>JdbcServlet</servlet-name>
        <url-pattern>/db_settings</url-pattern>
    </servlet-mapping>
</web-app>
